.button-container{
    margin: auto;
    width: fit-content;
    width: -moz-fit-content; 
    
}

button{
    width: 85vw;
    height: 76px;
    padding: 24px 32px 24px 32px;
    font-size: 18px;
    border: none;
    margin-top: 24px;
    border-radius: 8px;
}

