#container{
    width: 1152px;
    padding-top: 64px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center; 
    
       
}

#twitter{
    margin-top: 24px;
    font-weight: bolder;
}

.slack{
    display:none;
}

@media(max-width: 750px) {
    body{
        width: 600px;
    }

}
@media(max-width: 500px) {
    #container{
        width:343px;
    }

}