#container{
    width: 80vw;
    padding-top: 64px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    
       
}

#twitter{
    margin-top: 24px;
    font-weight: bolder;
}

.slack{
    display:none;
}
