*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color:black;
}

.links{
    display: block;
}
.footer-one-container{
    width: fit-content;
    margin: auto;
}

.first-footer{
    display: flex;
    justify-content: center;
    margin-top: 24px;
    width: 85vw;
    
}
.sub{
    padding: 24px 0px 24px 0px;
}

.footer-two-container{
    width: fit-content;
    margin: auto;
}

.second-footer{
    margin-top: 64px;
    padding: 48px 0px 48px 0px;
    width: 90vw;
}

.sub-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 36px 0px 36px;
}

#footer-text{
    color: #667085;
}