*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

a{
    text-decoration: none;
    color:black;
}

.links{
    display: block;
}
.footer-one-container{
    width: fit-content;
    margin: auto;
}

.first-footer{
    display: flex;
    justify-content: center;
    margin-top: 24px;
    width: 85vw;
    
}
.sub{
    padding: 24px 0px 24px 0px;
}

.footer-two-container{
    margin: auto;
    width: fit-content;
}

.second-footer{
    margin-top: 64px;
    padding: 48px 0px 48px 0px;
    width: 85vw;
    
}

.sub-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 0px 36px 0px;
    border-top: 1px solid #EAECF0;
}

#footer-text{
    color: #667085;
}

@media(max-width: 375px){
    .sub-footer{
        display: block;
        padding-left: 16px;
        padding-right: 16px;
    }
}