*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.section{
    position: relative;
} 

.shareImg{
    padding-top: 64px;
    left: 70%;
    position:relative;    
}

.img1{
    position: absolute;
    
}

.imgMin{
    position: absolute;
    /* visibility: hidden; */
    opacity: 0;
}

.imgFocus{
    position:absolute;
    /* visibility: hidden;   */
    opacity:0;
}


.imgHover{
    position: absolute;
    /* visibility: hidden; */
    opacity: 0;
}

.imgHover:hover{
    cursor: pointer;
    opacity: 1;
}

.imgFocus:focus{
    opacity: 1;
}


.share-container{
    position: absolute;
    padding-left: 100px;
}

a{
    text-decoration: none;
    color:black;
}

.links{
    display: block;
}
.footer-one-container{
    width: fit-content;
    margin: auto;
}

.first-footer{
    display: flex;
    justify-content: center;
    margin-top: 24px;
    width: 85vw;
    
}
.sub{
    padding: 24px 0px 24px 0px;
}

.footer-two-container{
    margin: auto;
    width: fit-content;
}

.second-footer{
    margin-top: 64px;
    padding: 48px 0px 48px 0px;
    width: 85vw;
    
}

.sub-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 0px 36px 0px;
    border-top: 1px solid #EAECF0;
}

#footer-text{
    color: #667085;
}

@media(max-width: 375px){
    .sub-footer{
        display: block;
        padding-left: 16px;
        padding-right: 16px;
    }
    .shareImg{
        
        left: 50%;
    }

    .img1{
        position: absolute;
        visibility: hidden;
        
    }
    
    .imgMin{
        position: absolute;
        opacity: 0;
    }

    .imgHover:hover{
        cursor: pointer;
        opacity: 1;
    }
    
    .imgFocus:focus{
        opacity: 1;
    }
}